name: CI

on:
  pull_request:
    branches: [ "main","cicdmarvel" ]
  push:
    branches: [ "main","cicdmarvel" ]

jobs:
  build-test-lint-sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Cache Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make gradlew executable
        run: chmod +x ./gradlew


      # Build + Test + Lint (Checkstyle)
      - name: Build, Test, Lint
        run: ./gradlew clean test check

      # SonarCloud
      - name: SonarCloud Scan

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonarqube --info --debug